[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
Mesa = "*"
jupyter = "*"
dash = "*"
dash-renderer = "*"
dash-html-components = "*"
dash-core-components = "*"
plotly = "*"
Flask = "*"
Flask-Caching = "*"
bleach = "==3.1.2"

[requires]
python_version = "3.6"
